@import url("https://fonts.googleapis.com/css?family=Robot:300,300i,700");

$background: #f7f9ff;
$black-text: #0c0c0c;
$red: #ff3600;
$typography: Roboto;

body {
  background-color: $background;
  color: $black-text;

  font-family: $typography, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;

  max-width: 780px;
  margin: 80px auto 80px auto;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 86px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  :not(img) a {
    margin-left: 30px;
  }

  img {
    margin-bottom: 0;
  }
}

section {
  margin: 40px 0 0 0;
}

nav a {
  font-weight: 500;
  color: $black-text;
  text-decoration: none;
}

nav a.selected,
p a {
  color: $black-text;
  text-decoration: none;
  border-bottom: 3px solid $red;
}

img {
  max-width: 780px;
}

div.blog-posts {
  max-width: 540px;

  h2 {
    margin-bottom: 16px;
  }

  p.excerpt {
    margin-bottom: 32px;
  }

  p.read-more {
    font-weight: 700;
    display: inline;
  }

  p.read-more:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    background-image: url("../images/chevron.svg");
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    margin-left: 6px;
  }

  a {
    text-decoration: none;
    color: $black-text;
    display: block;
    margin: 0 0 92px 0;
  }
}

div.circle {
  position: fixed;
  bottom: -250px;
  right: -250px;
  width: 500px;
  height: 500px;
  background-color: $red;
  border-radius: 50%;
  z-index: -1;
}

div.post {

  h2 {
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 80px;
    margin-bottom: 24px;
  }

  p {
    max-width: 540px;
    margin-bottom: 40px;
  }

  // when rules are brought into here, make sure to
  // set the last image if nothing else follows
  // as having margin-top: 24px;
  img {
    max-width: 780px;
  }
}

// @media (max-width: )